@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Primary
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

//Neutral
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayisViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$white: #fff;
$darkGray: #333;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, button, p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

.btn {
    background-color: transparent;
    padding: 10px;
}

@import 'header';
@import 'main';
@import 'footer';
@import 'responsive';